{% extends "DescartesEvenementBundle::EvenementLayout.html.twig" %}


{% block contentBlock %}


	<div class="post excerpt  lino0 removebordertop">
		<header>						
			<h2 class="title">
				Permission refusé
			</h2>
		</header><!--.header-->

		<div class="post-content image-caption-format-1">
			<p>Vous devez être connecté pour acceder à cette page.</p>
		</div>
	</div><!--.post excerpt-->


{% endblock %}