<ul class="tabs">
	<li><a class="selected" href="#popular-posts">Sorties Populaires</a></li>
	<li class="tab-recent-posts"><a href="#recent-posts">Sorties Récentes</a></li>
</ul> <!--end .tabs-->
	
<div class="clear"></div>
<div class="inside">

	<div style="display: block;" id="popular-posts">
		<ul>
			<li>
				<div class="left">
					<img src="../../../web/wallpaper-2839632-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2839632" title="" height="65" width="85">
					<div class="clear"></div>
				</div>
				<div class="info">
					<p class="entry-title">
						<a title="Awesome Post With Everything With It" href="">La premiere sortie à Descartes</a>
					</p>
					
					<div class="meta">
						<span class="comm">5</span> Commentaires
					</div> <!--end .entry-meta--> 	
				
				</div> <!--end .info-->

				<div class="clear"></div>
			</li>
			<li>
				<div class="left">
					<img src="../../../web/q3-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="q3" title="" height="65" width="85">
					<div class="clear"></div>
				</div>
				<div class="info">
					<p class="entry-title">
						<a title="Fatebuntur Stoici haec omnia praeclare" href="">Fatebuntur Stoici haec omnia praeclare</a>
					</p>
				
					<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li>
				<div class="left">
				<img src="../../../web/wallpaper-1812167-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-1812167" title="" height="65" width="85"><div class="clear"></div>
				</div>
				<div class="info">
				<p class="entry-title"><a title="Modo etiam paulum ad dexteram de" href="">Modo etiam paulum ad dexteram de</a></p>
				
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li>
				<div class="left">
				<img src="../../../web/wallpaper-2386176-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2386176" title="" height="65" width="85"><div class="clear"></div>
				</div>
				<div class="info">
				<p class="entry-title"><a title="Sed nonne merninisti licere mihi ista probare" href="">Sed nonne merninisti licere mihi ista probare</a></p>
				
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li style="border-bottom: 0px none;">
				<div class="left">
				<img src="../../../web/wallpaper-2415699-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2415699" title="" height="65" width="85"><div class="clear"></div>
				</div>
				<div class="info">
				<p class="entry-title"><a title="Tecum optime, deinde etiam cum amico" href="">Tecum optime, deinde etiam cum amico</a></p>
				
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

		</ul>			
	</div> <!--end #popular-posts-->
	   
	<div style="display: none;" id="recent-posts"> 
		<ul>

			<li>
			<div class="left">
			<img src="../../../web/q3-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="q3" title="" height="65" width="85"><div class="clear"></div>
			</div>
				<div class="info">
				<p class="entry-title"><a title="Fatebuntur Stoici haec omnia praeclare" href="">Fatebuntur Stoici haec omnia praeclare</a></p>
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li>
			<div class="left">
			<img src="../../../web/wallpaper-2839632-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2839632" title="" height="65" width="85"><div class="clear"></div>
			</div>
				<div class="info">
				<p class="entry-title"><a title="Awesome Post With Everything With It" href="">La premiere sortie à Descartes</a></p>
				<div class="meta"><span class="comm">5</span> Commentaires</div> <!--end .entry-meta--> 	
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li>
			<div class="left">
			<img src="../../../web/wallpaper-1812167-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-1812167" title="" height="65" width="85"><div class="clear"></div>
			</div>
				<div class="info">
				<p class="entry-title"><a title="Modo etiam paulum ad dexteram de" href="">Modo etiam paulum ad dexteram de</a></p>
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li>
			<div class="left">
			<img src="../../../web/wallpaper-2386176-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2386176" title="" height="65" width="85"><div class="clear"></div>
			</div>
				<div class="info">
				<p class="entry-title"><a title="Sed nonne merninisti licere mihi ista probare" href="">Sed nonne merninisti licere mihi ista probare</a></p>
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>

			<li style="border-bottom: 0px none;">
			<div class="left">
			<img src="../../../web/wallpaper-2415699-85x65.jpg" class="attachment-widgetthumb wp-post-image" alt="wallpaper-2415699" title="" height="65" width="85"><div class="clear"></div>
			</div>
				<div class="info">
				<p class="entry-title"><a title="Tecum optime, deinde etiam cum amico" href="">Tecum optime, deinde etiam cum amico</a></p>
				<div class="meta">Pas de commentaire</div> <!--end .entry-meta--> 	
				</div> <!--end .info-->
				<div class="clear"></div>
			</li>
		</ul>	
	</div> <!--end #recent-posts-->
	
	<div style="display: none;" class="clear"></div>
	
</div> <!--end .inside -->

<div class="clear"></div>