<h3 class="widget-title">Filtrer par</h3>
<div class="tagcloud">
	<a href="" class="tag-link-7" title="6 topics" style="font-size: 8pt;">Amitié</a>
	<a href="" class="tag-link-8" title="7 topics" style="font-size: 22pt;">Popularité</a>
	<a href="" class="tag-link-9" title="7 topics" style="font-size: 22pt;">Suivis</a>
	<a href="" class="tag-link-10" title="6 topics" style="font-size: 8pt;">Commenté</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Nouveauté</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Achevé</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Thème apéritif</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Thème dance</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Thème zen</a>
	<a href="" class="tag-link-11" title="6 topics" style="font-size: 8pt;">Thème culturel</a>
</div>